<footer class="bg-dark text-light text-center py-3 mt-auto">
    <!-- Copyright Information -->
    <p>&copy; 2024 CyclingNets. All rights reserved.</p>
    
    <!-- Project Info -->
    <p>This project was created as part of the Django Advanced Module at SoftUni. It demonstrates advanced Django concepts, including custom user models, REST APIs, and more.</p>
    
    <!-- GitHub Profile -->
    <p>
        <a href="https://github.com/Mario8802" target="_blank" class="btn btn-primary" style="text-decoration: none; color: white;">
            <i class="fab fa-github"></i> Visit My GitHub Profile
        </a>
    </p>
    
    <!-- Social Media Links -->
    <p>
        Follow us:
        <a href="#" class="text-light me-2"><i class="fab fa-facebook"></i></a> <!-- Facebook link with icon -->
        <a href="#" class="text-light me-2"><i class="fab fa-twitter"></i></a> <!-- Twitter link with icon -->
        <a href="#" class="text-light"><i class="fab fa-instagram"></i></a> <!-- Instagram link with icon -->
    </p>
</footer>
