<footer class="bg-dark text-light text-center py-3 mt-auto"> <!-- Footer section with dark background and light text -->
    <!-- Copyright Information -->
    <p>&copy; 2024 Bike Connect. All rights reserved.</p>

    <!-- Social Media Links -->
    <p>
        Follow us:
        <a href="#" class="text-light me-2"><i class="fab fa-facebook"></i></a> <!-- Facebook link with icon -->
        <a href="#" class="text-light me-2"><i class="fab fa-twitter"></i></a> <!-- Twitter link with icon -->
        <a href="#" class="text-light"><i class="fab fa-instagram"></i></a> <!-- Instagram link with icon -->
    </p>
</footer>
