{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container mt-5">
    <img src="{% static 'images/login.jpg' %}" alt="Login" class="img-fluid mb-3">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p class="mt-3">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
</div>
{% endblock %}
